*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: purple;
    min-height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    font-size: 2rem;
    font-weight: 800;
    color: white;
}
nav span:hover{
    color: purple;
}
.cover{
    width: 780px;
    border-radius: 20px;
    padding: 35px 40px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: 0.3rem;
    margin: 0 auto;
}
.cover header{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h2{
    font-size: 1.6rem;
}
header h2:hover{
    color: purple
}
header{
    display: flex;
    align-items: center;
}
header span{
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.2rem;
}
.volume-slid input{
    accent-color: purple;
}
.allkeys {
    display: flex;
    margin-top: 50px;;
}
.allkeys .key{
    list-style: none;
    color: #382d2d;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.allkeys span{
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 100%;
}
.allkeys .white span{
    background-color: white;
    border-top-left-radius: 8px;
}

.allkeys .white {
    background: white;
    width: 75px;
    height: 230px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #353434;
    background: linear-gradient(#fff 96%,rgb(152, 151, 151) 4%);
}

.allkeys .white:active{
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2)
}
.allkeys .black span{
    background-color: black;
    color: white;
    
}
.allkeys .black {
    background: black;
    width: 37px;
    height: 150px;
    z-index: 1;
    margin: 0px -22px 0 -22px;
    border-radius: 0 0 5px 5px;
}
.allkeys .black:active{
    box-shadow: inset -5px 5px 20px rgba(255,255,255,0.3)
}

.volume-slid{
    margin-left: 540px;
}
footer{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(88, 18, 88);
    bottom: 0;
    position:absolute;
    width: 100%;
    height:60px;
    color: black;
    font-size: 1.4rem;
    font-weight: 800;
}

