body{
    background-color: rgb(92, 20, 76);
    margin-left: 0px;
}
.title{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 5rem;
    color:rgb(13, 15, 10);
}
.set{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 2rem;
    margin: 10% auto;
}
.drum{
    height:8rem;
    width:8rem;
    border-radius: 10%;
    font-family:'Arvo',cursive;
    border:10px solid #404B69;
    line-height: 2;
    font-weight: 900;
    display: inline-block;
    text-align: center;
    margin: 10px;
    font-size: 50px;
    color: rgb(27, 10, 13);
}
.w{
    background-image: url("/images/tom1.png");
}
.a{
    background-image: url("/images/tom2.png");
}
.s{
    background-image: url("/images/tom3.png");
}
.d{
    background-image: url("/images/tom4.png");
}
.j{
    background-image: url("/images/snare.png");
}
.k{
    background-image: url("/images/crash.png");
}
.l{
    background-image: url("/images/kick.png");
}
.pressed{
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
}
footer{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(238, 189, 243);
    bottom: 0;
    position:absolute;
    width: 100%;
    height:60px; 
}
